filters:
    - '.mkv'
    - '.mp4'
locations:
    - name: '/directory/to/my/show/Foo'
    - name: '/directory/to/my/other/show/Bar'
    filters:
        - '.webm'
        - '.opus'
    - name: '/directory/somewhere/completely/different/Baz'
