# items must contain these strings to be included in the playlist
whitelist:
  - '.mkv'
  - '.mp4'
blacklist:
  - 'something I do not want to see'
# whitelist by regex and group items with (?P<group>)
regex: '^(?:\[.+\]|\(.+\))? ?(?P<group>.+)\s+-\s+[0-9]+.+(?:\.mp4|\.mkv)$'
locations:
  - name: '/directory/to/my/show/Foo'
  - name: '/directory/to/my/other/show/Bar'
    whitelist:  # override global whitelist defined above
      - '.webm'
      - '.opus'
    blacklist:  # override global blacklist defined above
      - 'something I do not want to see'
      - 'boring show'
    regex: '^(?:\[.+\]|\(.+\))?\s+?(?P<group>.+)\s+-\s+(?:[0-9]+).+$'
  - name: '/directory/somewhere/completely/different/Baz'
    whitelist:
      - '' # this will disable global whitelist defined above
    blacklist:
      - '' # this will disable global blacklist defined above
    regex: '' # this will disable global regex defined above
