# all input parameters are optional unless labeled as mandatory

# items must contain these strings to be included in the playlist
whitelist:
  - '.mkv'
  - '.mp4'
# items must not contain these strings to be included in the playlist
blacklist:
  - 'something I do not want to see'
# whitelist by regex and optionally group items with (?P<group>)
regex: '^(?:\[.+\]|\(.+\))?\s*(?P<group>.+)\s*-\s*[0-9]+.+(?:\.mp4|\.mkv)$'
# default priority level to reference, lower value is higher priority
# without setting this global priority, any location or group priority number will always
# take priority of any other location or group that doesn't set its own
priority: 100
# list of locations to interleave (mandatory)
locations:
  # path of the location (mandatory)
  - name: '/directory/to/my/show/Foo'
  - name: '/directory/to/my/other/show/Bar'
    # override global whitelist defined above
    whitelist:
      - '.webm'
      - '.opus'
    # prioritize this location over the default
    priority: 50
    # override global blacklist defined above
    blacklist:
      - 'something I do not want to see'
      - 'boring show'
    disabled: False # Not disabled. This is the default
    # override global regex defined above
    regex: '^(?:\[.+\]|\(.+\))?\s*(?P<group>.+)\s*-\s*(?:[0-9]+).+$'
    groups:
        # override the options for the group name identified by the regex
        # name is a subset of the full group name for convenience
      - name: 'Show I really want to watch'
        priority: 10
      - name: "Show I'm putting off"
        priority: 200
  - name: '/directory/somewhere/completely/different/Baz'
    addtional:
      - '/additional/directory/that/appends/its/contents/to/the/one/above'
      - '/yet/another/additional/directory'
    whitelist:
      - '' # this will disable global whitelist defined above
    blacklist:
      - '' # this will disable global blacklist defined above
    regex: '' # this will disable global regex defined above
    # prioritize this location less than the default
    priority: 200
  - name: '/directory/for/something/else'
    # prioritize this location the most
    priority: 0
    timed:
      start: '2021-10-31'  # start adding files into the playlist at this date
      cron: '0 3 * * TUE'  # do it every Tuesday at 3am
      first: 16            # starting at the 16th file, alphabetically
      amount: 2            # include 2 files every time the cron point is reached
      start-at-cron: false # start right at 2021-10-31, even though it's not a Tuesday (default: f)
